body {
  margin: 0px;
}

.header {
  background-color: white;

  &-bar {
    background-color: darken($color: blue, $amount: 10);
    padding: 0.7rem 2rem;
    display: flex;
    justify-content: space-between;

    &__btn {
      background-color: transparent;
      border: none;
      width: fit-content;
      height: fit-content;
      padding: 10px 10px;

      &:hover {
        background-color: white;
      }

      p {
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        width: fit-content;
        height: fit-content;
      }
    }
  }
}
